<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>889201233416-c24fmfivjlpht6ehla5gbd7c45nv0gtu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.889201233416-c24fmfivjlpht6ehla5gbd7c45nv0gtu</string>
	<key>API_KEY</key>
	<string>AIzaSyA-w-ZvXLGteGmtCAT2XEzzHe3opaBgmw8</string>
	<key>GCM_SENDER_ID</key>
	<string>889201233416</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.didit.didit</string>
	<key>PROJECT_ID</key>
	<string>didit-4d903</string>
	<key>STORAGE_BUCKET</key>
	<string>didit-4d903.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:889201233416:ios:27ab0651759b2ca84e0bbd</string>
</dict>
</plist>